.game-board{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.tile-space {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  /* width: 60px; */
  height: 60px;
}



.tile-wall {
  background-color: rgba(134, 133, 130, 0.925);
}

.entity-block {
  background-color: rgba(160, 24, 24, 0.8);
}
.tile-goal {
  background-color: rgba(212, 224, 43, 0.8);
}

.entity-block.tile-goal {
  background-color: #3cb371;
}

/* .entity-player.tile-goal {
  background-color: hsla(81, 76%, 53%, 0.63);
} */

.entity-player {
  background-color: hsla(194, 76%, 53%, 0.966);
}

